<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <!-- /*(ngSubmit) = "SubmitForm.signup" */ -->
    <form #signupForm = "ngForm"  >
        <div class="formContainer">
        <h1>Sign Up</h1>
        <hr>
        <label for="name"><b>name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="mobile"><b>Mobile Number</b></label>
        <input type="text" placeholder="Enter Mobile Number" name="mobile" required  pattern="[789]{1}[0-9]{9}">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="repeatPassword"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="repeatPassword"
        required>
        
       
        <div>
            <button type="submit" (click)="signUp()" class="signup">Sign Up</button>
        <button type="submit" class="login" (click)="Login()">Login</button>
        
        </div>
        </div>
        </form>
    
</body>
</html>